.img-bg{
    background-image: url("../../images/cover.jpg");
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    
}
.img-bg h2{
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 5px rgb(107, 183, 238);
    display: flex;
    position: absolute;
    top: 37%;
    left: 37%;
    
    
    
}